*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: system-ui, sans-serif;
}

body{
  background:#fff;
  color:#222;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 30px;
  border-bottom:3px solid #ff7a00;
}

.navbar h1{
  color:#ff7a00;
}

.nav-actions{
  display:flex;
  gap:10px;
}

.nav-btn{
  background:#ff7a00;
  color:#fff;
  padding:10px 18px;
  border-radius:6px;
  text-decoration:none;
  font-weight:600;
}

.nav-btn.outline{
  background:transparent;
  color:#ff7a00;
  border:2px solid #ff7a00;
}

/* HERO */
.hero{
  min-height:80vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:50px;
  flex-wrap:wrap;
}

.hero-text{
  max-width:520px;
}

.hero-text h2{
  font-size:36px;
}

.hero-text span{
  color:#ff7a00;
}

.hero-text p{
  margin:15px 0 25px;
}

.hero-buttons{
  display:flex;
  gap:12px;
}

.main-btn{
  background:#ff7a00;
  color:#fff;
  padding:14px 26px;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;
}

.main-btn.outline{
  background:transparent;
  color:#ff7a00;
  border:2px solid #ff7a00;
}

/* CARD */
.hero-card{
  width:240px;
  height:240px;
  border-radius:20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.1);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.pulse{
  width:70px;
  height:70px;
  background:#ff7a00;
  border-radius:50%;
  animation:pulse 1.5s infinite;
}

@keyframes pulse{
  0%{transform:scale(0.7);opacity:0.7;}
  100%{transform:scale(1.4);opacity:0;}
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-buttons{
    justify-content:center;
    flex-wrap:wrap;
  }

  .hero-card{
    margin-top:30px;
  }
}



