*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: system-ui, sans-serif;
}

body{
  background:#fff;
  color:#222;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.upload-container{
  width:100%;
  max-width:480px;
  padding:30px;
  border-radius:16px;
  box-shadow:0 15px 30px rgba(0,0,0,0.08);
  text-align:center;
}

.upload-container h2{
  color:#ff7a00;
  margin-bottom:10px;
}

.upload-container p{
  margin-bottom:20px;
}

.upload-box{
  border:2px dashed #ff7a00;
  border-radius:12px;
  padding:40px 20px;
  cursor:pointer;
  margin-bottom:20px;
  transition:0.3s;
  position:relative;
}

.upload-box:hover{
  background:#fff3e0;
}

.upload-box input{
  display:none;
  position:absolute;
  top:0; left:0; width:100%; height:100%;
}

#preview img, #preview video{
  margin-top:10px;
  max-width:100%;
  border-radius:10px;
}


.scan-btn{
  background:#ff7a00;
  color:#fff;
  border:none;
  padding:12px 20px;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.scan-btn:hover{
  opacity:0.9;
}

/* Loader */
.loader{
  margin-top:30px;
  display:flex;
  justify-content:center;
  gap:10px;
}

.dot{
  width:15px;
  height:15px;
  background:#ff7a00;
  border-radius:50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.dot1{ animation-delay:0s; }
.dot2{ animation-delay:0.2s; }
.dot3{ animation-delay:0.4s; }

@keyframes bounce{
  0%, 80%, 100%{ transform:scale(0); }
  40%{ transform:scale(1); }
}

/* Responsive */
@media(max-width:500px){
  .upload-container{
    padding:20px;
  }

  .upload-box{
    padding:30px 15px;
  }
}

